In second year computer engineering class, group A studentâ€™s play cricket, group B 
students play badminton and group C students play football. 


Write a Python program using functions to compute following: -

    1. List of students who play both cricket and badminton 
    2. List of students who play either cricket or badminton but not both 
    3. Number of students who play neither cricket nor badminton
    4. Number of students who play cricket and football but not badminton.

(Note- While realizing the group, duplicate entries should be avoided, Do not use SET 
built-in functions)

***

##### Function for removing duplicate entries from the group

In [1]:
def removeDuplicate(d):
    lst=[]
    for i in d:
        if i not in lst:
            lst.append(i)
    return lst

***

##### Function for finding intersection between two sets (A&B)

In [2]:
def intersection(lst1,lst2):
    lst3=[]
    for val in lst1:
        if val in lst2:
            lst3.append(val)
    return lst3

***

##### Function for finding union of two sets (A|B)

In [3]:
def union(lst1,lst2):
    lst3=lst1.copy()
    for val in lst2:
        if val not in lst3:
            lst3.append(val)
    return lst3

***

##### Function for finding difference between two sets (A-B)

In [4]:
def diff(lst1,lst2):
    lst3=[]
    for val in lst1:
        if val not in lst2:
            lst3.append(val)
    return lst3

***

##### Function for finding symmetric difference of two sets (A^B)

In [5]:
def sym_diff(lst1,lst2):
    lst3=[]
    D1=diff(lst1,lst2)
    print("Difference between Cricket and Badminton (C-B) is : ", D1)
    D2=diff(lst2,lst1)
    print("Difference between Badminton and Cricket (B-C) is : ", D2)
    lst3=union(D1,D2)
    return lst3

***

##### Functon for finding List of students who play both cricket and badminton

In [6]:
def CB(lst1,lst2):
    lst3=intersection(lst1,lst2)
    print("\n\nList of students who play both cricket and badminton is : ", lst3)
    return len(lst3)

***

##### Function for finding List of students who play either cricket or badminton but not both

In [7]:
def eCeB(lst1,lst2):
    lst3=sym_diff(lst1,lst2)
    print("\nList of students who play either cricket or badminton but not both is : ",lst3)
    return len(lst3)

***

##### Function for finding Number of students who play neither cricket nor badminton

In [8]:
def nCnB(lst1,lst2,lst3):
    lst4=diff(lst1,union(lst2,lst3))
    print("\n\nList of students who play neither cricket nor badminton is : ",lst4)
    return len(lst4)

***

##### Function for finding Number of students who play cricket and football but not badminton

In [9]:
def CBnF(lst1,lst2,lst3):
    lst4=diff(intersection(lst1,lst2),lst3)
    print("\n\nList of students who play cricket and football but not badminton is : ",lst4)
    return len(lst4)

***
***

### Main function

***

##### Creating an empty list for SE COMP

In [10]:
SEComp = []
n = int(input("\nEnter number of students in SE COMP: "))
print("Enter the names of",n,"students (Please press ENTER after entering each students name) :")
for i in range(0, n):
    ele = input()
    SEComp.append(ele)  # adding the element
print("Original list of students in SEComp : " + str(SEComp))

Enter number of students in SE COMP: 9
Enter the names of 9 students (Please press ENTER after entering each students name) :
nisha
navnath
ganesh
kalyan
aditya
krutika
poonam
aditi
divya
Original list of students in SEComp : ['nisha', 'navnath', 'ganesh', 'kalyan', 'aditya', 'krutika', 'poonam', 'aditi', 'divya']

***

##### Creating an empty list for Cricket

In [11]:
Cricket = []
n = int(input("\n\nEnter number of students who play cricket : "))
print("Enter the names of",n,"students who play cricket (Please press ENTER after entering each students name) :")
for i in range(0, n):
    ele = input()
    Cricket.append(ele)  # adding the element
print("Original list of students playing cricket is :" +str(Cricket))
Cricket=removeDuplicate(Cricket)
print("The list of students playing cricket after removing duplicates : " +str(Cricket))

Enter number of students who play cricket : 5
Enter the names of 5 students who play cricket (Please press ENTER after entering each students name) :
nisha
navnath
ganesh
kalyan
aditya
Original list of students playing cricket is :['nisha', 'navnath', 'ganesh', 'kalyan', 'aditya']
The list of students playing cricket after removing duplicates : ['nisha', 'navnath', 'ganesh', 'kalyan', 'aditya']

***

##### Creating an empty list for Football

In [12]:
Football = []
n = int(input("\n\nEnter number of students who play football : "))
print("Enter the name of",n,"students who play football (Please press ENTER after entering each students name) :")
for i in range(0, n):
    ele = input()
    Football.append(ele)  # adding the element
print("Original list of students playing football :" +str(Football))
Football=removeDuplicate(Football)
print("The list of students playing football after removing duplicates : " +str(Football))

Enter number of students who play football : 5
Enter the name of 5 students who play football (Please press ENTER after entering each students name) :
nisha
navnath
aditya
krutika
divya
Original list of students playing football :['nisha', 'navnath', 'aditya', 'krutika', 'divya']
The list of students playing football after removing duplicates : ['nisha', 'navnath', 'aditya', 'krutika', 'divya']

***

##### Creating an empty list for Badminton

In [13]:
Badminton = []
n = int(input("\n\nEnter number of students who play badminton : "))
print("Enter the name of",n,"students who play badminton (Please press ENTER after entering each students name) :")
for i in range(0, n):
    ele = input()
    Badminton.append(ele)  # adding the element
print("Original list of students playing badminton :" +str(Badminton))
Badminton=removeDuplicate(Badminton)
print("The list of students playing badminton after removing duplicates : " +str(Badminton))

Enter number of students who play badminton : 5
Enter the name of 5 students who play badminton (Please press ENTER after entering each students name) :
kalyan
aditya
krutika
poonam
aditi
Original list of students playing badminton :['kalyan', 'aditya', 'krutika', 'poonam', 'aditi']
The list of students playing badminton after removing duplicates : ['kalyan', 'aditya', 'krutika', 'poonam', 'aditi']

***

In [14]:
while 'n' not in input("\n\nDo you want to continue (yes/no) :"):
    print("\n\n--------------------MENU--------------------\n")
    print("1. List of students who play both cricket and badminton")
    print("2. List of students who play either cricket or badminton but not both")
    print("3. List of students who play neither cricket nor badminton")
    print("4. Number of students who play cricket and football but not badminton")
    print("5. Exit\n")
    ch=int(input("Enter your Choice (from 1 to 5) :"))

    if ch==1:
        print("Number of students who play both cricket and badminton : ", CB(Cricket,Badminton))
    elif ch==2:
        print("Number of students who play either cricket or badminton but not both : ", eCeB(Cricket, Badminton))
    elif ch==3:
        print("Number of students who play neither cricket nor badminton : ", nCnB(SEComp,Cricket,Badminton))
        a = input("\n\nDo you want to continue (yes/no) :")
    elif ch==4:
        print("Number of students who play cricket and football but not badminton : ", CBnF(Cricket,Football,Badminton))
    elif ch==5:
        print("Thank you, bye !!")
        break
    else:
        print("!! Wrong Choice !! ")

Do you want to continue (yes/no) :y


--------------------MENU--------------------

1. List of students who play both cricket and badminton
2. List of students who play either cricket or badminton but not both
3. List of students who play neither cricket nor badminton
4. Number of students who play cricket and football but not badminton
5. Exit

Enter your Choice (from 1 to 5) :1


List of students who play both cricket and badminton is :  ['kalyan', 'aditya']
Number of students who play both cricket and badminton :  2


Do you want to continue (yes/no) :y


--------------------MENU--------------------

1. List of students who play both cricket and badminton
2. List of students who play either cricket or badminton but not both
3. List of students who play neither cricket nor badminton
4. Number of students who play cricket and football but not badminton
5. Exit

Enter your Choice (from 1 to 5) :2
Difference between Cricket and Badminton (C-B) is :  ['nisha', 'navnath', 'ganesh']
Difference between Badminton and Cricket (B-C) is :  ['krutika', 'poonam', 'aditi']

List of students who play either cricket or badminton but not both is :  ['nisha', 'navnath', 'ganesh', 'krutika', 'poonam', 'aditi']
Number of students who play either cricket or badminton but not both :  6


Do you want to continue (yes/no) :y


--------------------MENU--------------------

1. List of students who play both cricket and badminton
2. List of students who play either cricket or badminton but not both
3. List of students who play neither cricket nor badminton
4. Number of students who play cricket and football but not badminton
5. Exit

Enter your Choice (from 1 to 5) :3


List of students who play neither cricket nor badminton is :  ['divya']
Number of students who play neither cricket nor badminton :  1


Do you want to continue (yes/no) :y


Do you want to continue (yes/no) :y


--------------------MENU--------------------

1. List of students who play both cricket and badminton
2. List of students who play either cricket or badminton but not both
3. List of students who play neither cricket nor badminton
4. Number of students who play cricket and football but not badminton
5. Exit

Enter your Choice (from 1 to 5) :4


List of students who play cricket and football but not badminton is :  ['nisha', 'navnath']
Number of students who play cricket and football but not badminton :  2


Do you want to continue (yes/no) :n

***